
{% extends 'account/base.html' %}

{% block content %}



    <section class="container g-py-100">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
            <header class="text-center mb-4">
              <h2 class="h2 g-color-black g-font-weight-600">Logout</h2>
            </header>

            <h3>
              You have successfully logged out.
              <a href="/">Home</a>
            </h3>


          </div>
        </div>
      </div>
    </section>
{% endblock %}
